<%- include('header') -%>

<section class="error-page">
  <h2>Villa kom upp</h2>
  <p>Því miður, það kom upp villa við að vinna úr beiðni þinni.</p>
  <a href="/">Til baka á forsíðu</a>
</section>

<%- include('footer') -%>
